spring:
  flyway:
    enabled: true
    url: jdbc:mysql://0.0.0.0:3306/auth
    user: amit
    password: password
    locations: classpath:db/migration
  application:
    name: auth
  dataSource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: amit
    url: jdbc:mysql://0.0.0.0:3306/auth
    password: password
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    open-in-view: true
    database-platform: org.hibernate.dialect.MySQLDialect

server:
  port: 8080
